Source: aquamarine
Section: libs
Maintainer: Debian Hyprland Maintainers <team+hyprland@tracker.debian.org>
Uploaders:
 Alan M Varghese (NyxTrail) <alan@digistorm.in>,
 Carl Keinath <carl.keinath@gmail.com>,
 Chow Loong Jin <hyperair@debian.org>,
 Alex Myczko <tar@debian.org>,
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 hwdata,
 hyprwayland-scanner (>= 0.4.5),
 libdisplay-info-dev,
 libdrm-dev,
 libegl-dev,
 libegl1-mesa-dev,
 libgbm-dev,
 libgles-dev,
 libhyprutils-dev (>= 0.10.4),
 libinput-dev (>= 1.26.0),
 libpixman-1-dev,
 libpipewire-0.3-dev,
 libspa-0.2-dev,
 libseat-dev (>= 0.8.0),
 libudev-dev,
 libwayland-dev,
 pkgconf,
 wayland-protocols,
Standards-Version: 4.7.4
Homepage: https://wiki.hyprland.org/Hypr-Ecosystem/aquamarine/
Vcs-Browser: https://salsa.debian.org/hyprland-team/aquamarine
Vcs-Git: https://salsa.debian.org/hyprland-team/aquamarine.git

Package: libaquamarine-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libaquamarine11 (= ${binary:Version}),
 ${misc:Depends},
Description: Light-weight rendering library for Linux (development files)
 Aquamarine is a very light Linux rendering backend library.
 It provides basic abstractions for an application to render on a
 Wayland session (in a window) or a native DRM session.
 .
 It is agnostic of the rendering API (Vulkan/OpenGL) and designed
 to be lightweight, performant, and minimal.
 .
 Aquamarine provides no bindings for other languages. It is
 C++-only
 .
 This package includes the development files for aquamarine.

Package: libaquamarine11
Architecture: any
Multi-Arch: same
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libpipewire-0.3-0t64,
  libspa-0.2-modules,
Description: Light-weight rendering library for Linux (binary files)
 Aquamarine is a very light Linux rendering backend library.
 It provides basic abstractions for an application to render on a
 Wayland session (in a window) or a native DRM session.
 .
 It is agnostic of the rendering API (Vulkan/OpenGL) and designed
 to be lightweight, performant, and minimal.
 .
 Aquamarine provides no bindings for other languages. It is
 C++-only
 .
 This package includes the binaries for the aquamarine library.